[submodule "rust-refactor/compiler"]
	path = rust-refactor/compiler
	url = git@github.com:rust-lang/rust
[submodule "ReMon"]
	path = cross-checks/ReMon
	url = git@github.com:securesystemslab/ReMon.git
[submodule "examples/snudown/repo"]
	path = examples/snudown/repo
	url = git@github.com:immunant/snudown.git
[submodule "examples/xzoom/xzoom"]
	path = examples/xzoom/repo
	url = git://git.r-36.net/xzoom
[submodule "examples/grabc/repo"]
	path = examples/grabc/repo
	url = git@github.com:immunant/grabc.git
[submodule "examples/urlparser/repo"]
	path = examples/urlparser/repo
	url = git@github.com:jwerle/url.h.git
[submodule "examples/genann/repo"]
	path = examples/genann/repo
	url = git@github.com:codeplea/genann.git
[submodule "examples/lil/repo"]
	path = examples/lil/repo
	url = git@github.com:immunant/lil.git
[submodule "examples/libxml2/repo"]
	path = examples/libxml2/repo
	url = git@github.com:immunant/libxml2-rs.git
[submodule "examples/tmux/repo"]
	path = examples/tmux/repo
	url = git@github.com:immunant/tmux-rs.git
