llvm.src/*
llvm.build*
*.tar.xz
*.tar.xz.sig
*.tar.gz
.idea
.vscode
*.log
# ignore rust build dirs everywhere
**/target/
**/dependencies/
**/tests/
*.pyc
.vagrant

# Testing directory
!tests
tests/*.rs
tests/*.a
tests/*.json
tests/*.cbor
tests/*_c
tests/*_rust
tests/*_c.txt
tests/*_rust.txt
