/*
$color1: rgba(245, 253, 198, 1); Yellow
$color2: rgba(245, 195, 150, 1); Peach
$color3: rgba(208, 177, 122, 1); Tan
$color4: rgba(168, 159, 104, 1); Olive
$color5: rgba(65, 82, 31, 1); Green
*/

body {
    background-color: rgba(208, 177, 122, 1);
}

h1 {
    color: rgba(65, 82, 31, 1);
}

.editor {
    float: left;
    margin: 1em;
}

.editor_title {
    background: rgba(168, 159, 104, 1);
    border: 1px solid black;
    border-bottom: 0;
    padding: 0.2em;
}

#rust_src, #c_src {
    width:  500px;
    height: 400px;
    border: 1px solid black;
    border-top: 0;
}

#buttons {
    clear: left;
}